[Desktop Entry]
Version=1.0
Type=Application
Name=Update Manager Tray
Comment=Start the Update Manager tray applet
Exec=bodhi-update-manager --tray
Icon=bodhi-update-manager
Terminal=false
StartupNotify=false
NoDisplay=true
