[Desktop Entry]
Version=1.0
Type=Application
Name=Update Manager
Name[be]=Менеджар абнаўленняў
Name[ca]=Gestor d'actualitzacions
Name[cs]=Správce aktualizací
Name[de]=Aktualisierungsverwaltung
Name[el]=Διαχείριση Ενημερώσεων
Name[es]=Gestor de actualizaciones
Name[fi]=Päivitysten hallinta
Name[fr]=Gestionnaire de mises à jour
Name[he]=מנהל עדכונים
Name[hi]=अपडेट प्रबंधक
Name[ml]=അപ്ഡേറ്റ് മാനേജർ
Name[mr]=अद्ययावत व्यवस्थापक
Name[nl]=Updatebeheer
Name[pt]=Gerenciador de atualizações
Name[pt_BR]=Gerenciador de atualizações
Name[ru]=Менеджер обновлений
Name[sk]=Správca aktualizácií
Name[it]=Gestore aggiornamenti
Name[pl]=Menedżer Aktualizacji
Comment[cs]=Instalovat systémové aktualizace a místní balíčky pro Bodhi Linux
Comment[be]=Усталяваць сістэмныя абнаўленні і лакальныя пакеты для Bodhi Linux
Comment[ca]=Instal·la actualitzacions del sistema i paquets locals per a Bodhi Linux
Comment[cs]=Instalovat systémové aktualizace a místních balíčků pro Bodhi Linux
Comment[de]=Systemaktualisierungen und lokale Pakete für Bodhi Linux installieren
Comment[el]=Εγκατάσταση ενημερώσεων συστήματος και τοπικών πακέτων για το Bodhi Linux
Comment[es]=Instalar actualizaciones del sistema y paquetes locales para Bodhi Linux
Comment[fi]=Asenna järjestelmäpäivityksiä ja paikallisia paketteja Bodhi Linuxille
Comment[fr]=Installer les mises à jour du système et les paquets locaux pour Bodhi Linux
Comment[he]=התקנת עדכוני מערכת וחבילות מקומיות עבור Bodhi Linux
Comment[hi]=Bodhi Linux के लिए सिस्टम अपडेट और स्थानीय पैकेज इंस्टॉल करें
Comment[ml]=Bodhi Linux-നായി സിസ്റ്റം അപ്ഡേറ്റുകളും പ്രാദേശിക പാക്കേജുകളും ഇൻസ്റ്റാൾ ചെയ്യുക
Comment[mr]=बोधी लिनक्ससाठी सिस्टम अद्यतने आणि स्थानिक पॅकेजेस स्थापित करा
Comment[nl]=Installeer systeemupdates en lokale pakketten voor Bodhi Linux
Comment[pt]=Instalar atualizações do sistema e pacotes locais para o Bodhi Linux
Comment[pt_BR]=Instalar atualizações do sistema e pacotes locais para o Bodhi Linux
Comment[ru]=Установка обновлений системы и локальных пакетов для Bodhi Linux
Comment[sk]=Inštalácia systémových aktualizácií a lokálnych balíkov pre Bodhi Linux
Comment[it]=Installa gli aggiornamenti e pacchetti locali per Bodhi Linux
Comment[pl]=Instaluje aktualizacje systemu i pakiety lokalne dla Bodhi Linux
Exec=bodhi-update-manager %f
Icon=bodhi-update-manager
Terminal=false
MimeType=application/vnd.debian.binary-package;
Categories=System;PackageManager;
StartupNotify=true
NoDisplay=false
